* {
  margin: 0px;
  text-decoration: none;

}
html,body
{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
body {

  background-color: #FFF;
}


.jumbotron {
  background-image: url(Sunflower2.jpg);
  background-size: contain;
  background-position: center;
  margin: 0 !important;
  padding: 0 !important;
  display:block;
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
  background-repeat: no-repeat;
  z-index: 0;
  position: relative;
}

h1 {
  color: #FFF;
  font-family: 'Didot', sans-serif;
  font-size: 190px;
  font-weight: 100;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  top: 200px;
}
h2 {
  color: #FFF;
  font-family: 'Didot', sans-serif;
  font-size 80px;
  float: none;
  text-transform: uppercase;
  position: relative;
  display: block;
  top: 150px;
  font-weight: 100;
  text-align: center;
  word-spacing: normal;
}

.content {
  background-color: #FFF;
  color: #D9A689;
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 0px;
}

.content h3 {
  color: #FFF;
  background-color: #D9A689;
  font-family: 'Devanagari Sangam MN', sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
  position: relative;
  padding: 10px;
  height: 30px;
  width: 100%;
  text-decoration: none;

}

.content a + a {
  margin-left: 30px;
}
.content a {
  color: #FFF;
  z-index: 100;

}
.intro {
  width: 100%;
}
.intro h4 {
  color: #73723a;
  font-size: 35px;
  font-family: 'Avenir', sans-serif;
  text-align: center;
  display: block;
  padding: 60px;
  margin-left: 240px;
  margin-right: 240px;
}

.intro p {
  text-align: center;
  font-family: 'Avenir', sans-serif;
  font-size: 20px;
  display: block;
  text-align: center;
  color: #73723a;
  padding: 10px;
  margin: 0 !important;
  position: relative;
  bottom: 30px;
  margin-bottom: .5%
}

.intro img {
  position: relative;
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;

}

#largebox {
  width: 100%;
  height: 56%;
  background-color: #B1C0A1;
  position: relative;
  overflow: hidden;
  z-index: 50;
  margin-top: 1px;
  padding-top: 10px;
  display: block;
  padding-bottom: 10%;

}
#largebox h6 {
  text-align: center;
  font-family: 'Avenir', sans-serif;
  font-size: 35px;
  display: block;
  z-index: 60;
  position: relative;
  color: #404041;
  width: 100%;
  padding-top: 35px;
}
#largebox img {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 45%;
  padding-top: 15px;

}
#largebox h1{
  font-size: 23px;
  font-family: 'Avenir', sans-serif;
  color: #404041;
  text-align: center;
  font-weight: bold;
  display: block;
  top: 15px;
  letter-spacing: .1em;

}

#largebox p {
  font-size: 20px;
  font-family: 'Avenir', sans-serif;
  color: #404041;
  text-align: center;
  font-weight: lighter;
  padding-top: 80px;
}


#box1 {
  height: 300px;
  width: 15%;
  position: relative;
  float: left;
  padding-top: 20px;
  margin-left: 12%;
}

#box2 {
  height: 300px;
  width: 15%;
  position: relative;
  float: left;
  margin-left: 6%;
  padding-top: 7px;
  margin-right: .5%;

}



#box3 {
  height: 300px;
  width: 15%;
  position: relative;
  float: left;
  margin-left: 6%;
  padding-top: 15px;
  margin-right: .5%;

}

#box4 {
  height: 300px;
  width: 15%;
  position: relative;
  float: left;
  margin-left: 6%;
  padding-top: 20px;

}

#box4 p{
  padding-top: 50px;
}

#skills {
width: 100%;
height: 420px;
background-image: url(plant6.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
 font-family: 'Avenir',sans-serif;
  font-size: 35px;
  color: #404041;
  text-align: center;
  position: relative;
  display: block;
}
#skills h3 {
  padding-top: 50px;

}
#skills img{
  width: 700px;
  height: 250px;
  object-fit: contain;
  padding-top: 10px;
}

#portfolio {
  background-color: #FFF;
  font-family: 'Avenir', sans-serif;
  margin-top: 30px;
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
 box-sizing: padding-box;
}
#portfolio h6 {
  text-align: center;
margin-top: 40px;
  color: #D9A689;
  font-size: 35px;


}

#filtered {
  padding-left: 40px;
}

#filtered img {
  display: block;
  overflow: hidden;
  width: 250px;
  height: 250px;
  position: relative;
  margin: 0px;
  object-fit: cover;
}



@charset "UTF-8";
.c-filter {
  overflow: hidden;
}


/**
   * Make the targets hover at the top of the viewport so that we never get
   * awkward page jumps when filtering.
   */
.c-filter__target {
  position: fixed;
}

.c-filter__links {
  margin-top: 10px;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  color: ;
}

.c-filter__link {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 100px;
  background-color: transparent;
  -webkit-transition: 0.333s;
          transition: 0.333s;
}

.c-filter__link--reset {
  border-right: 1px solid #e5e5e5;
  border-radius: 0;
}



.c-filter__item {
  float: left;
  -webkit-transition: 0.333s;
          transition: 0.333s;
  margin: 0px;
}

/**
 * If we haven’t targeted anything, ensure all items are turned on.
 */
.c-filter__target:not(:target) ~ .c-filter__item {
  opacity: 1;
  visibility: visible;
}

/**
 * As soon as we target anything, turn all items ‘off’.
 */
.c-filter__target:target ~ .c-filter__item {
  opacity: 0;
  visibility: hidden;
}

[id="tag:photo"]:target ~ [data-tag~="photo"], [id="tag:ad"]:target ~ [data-tag~="ad"], [id="tag:web"]:target ~ [data-tag~="web"], [id="tag:graphic"]:target ~ [data-tag~="graphic"],
[id="tag:draw"]:target ~ [data-tag~="draw"], [id="tag:product"]:target ~ [data-tag~="product"],
[id="tag:promo"]:target ~ [data-tag~="promo"] {
  opacity: 1;
  visibility: visible;
}

[id="tag:photo"]:target ~ .c-filter__links [href="#tag:photo"],
[id="tag:ad"]:target ~ .c-filter__links [href="#tag:ad"], [id="tag:web"]:target ~ .c-filter__links [href="#tag:web"], [id="tag:graphic"]:target ~ .c-filter__links [href="#tag:graphic"], [id="tag:draw"]:target ~ .c-filter__links [href="#tag:draw"],
[id="tag:product"]:target ~ .c-filter__links [href="#tag:product"], [id="tag:promo"]:target ~ .c-filter__links [href="#tag:promo"] {
  background-color: #fafafa;
  pointer-events: none;
}


.c-article {
  background-color: #fff;
  padding: .5em;
  border-bottom: 1px solid #e5e5e5;
}


}

html {
  box-sizing: border-box;
  font: menu;
  padding: 1%;
  background-color: #fafafa;
  color: #333;
}

.c-filter__links a {
  text-decoration: none;
  color: #D9A689;
}
.experience {
  height: 100%;
  width: 100%;
  background-color: #FFF;
  background-position: center;
  background-size: cover;
  display: block;
  position: relative;
  margin-top: 40px;
}

.experience h3 {
  font-family: 'Avenir', sans-serif;
  font-size: 35px;
  color: #000;
  text-align: center;
  margin-top: 45px;
}

.experience img {
  display: block;
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
}

.contact {
  width: 100%;
  height: 300px;
  background-color: #FFF;

}
#contact p {
  font-family: 'Didot', serif;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #D9A689;
  font-size: 70px;
  font-size: 35px;
  margin-top: 2%;
  border: 2px;
  border-style: solid;
  border-color: #D9A689;
  width: 700px;
  padding: 20px;

}

#contact a{
  font-family: 'Didot', serif;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #D9A689;
  font-size: 70px;
  font-size: 35px;

}




}
